@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-repeat: no-repeat; /* Prevent background repetition */
  background-size: cover; /* Ensure the background covers the screen */
  background-position: center; /* Center the background */
}

::-webkit-scrollbar {
  width: 0.1px;
}

/* Theme styles using data-theme attribute */
[data-theme="alexandriaArchive"] {
  background-image: url("/alexandriaArchive-d.jpg");
  color: #fff;
}

[data-theme="marsaMatruhCoastalDrive"] {
  background-image: url("/marsaMatruhCoastalDrive-d.jpg");
  color: #daa742;
}

[data-theme="cozyDamietta"] {
  background-image: url("/cozyDamietta.jpg");
  color: #ffb973;
}

[data-theme="northCoastShore"] {
  background-image: url("/northCoastShore-d.jpg");
  color: #19a89e;
}

[data-theme="sinaiSunsetLodge"] {
  background-image: url("/sinaiSunsetLodge.jpg");
  color: #d64933;
}

[data-theme="cairoLateDrive"] {
  background-image: url("/cairoLateDrive-d.jpg");
  color: #ffd24b;
}

/* Add a transition for smooth theme changes */
body {
  transition: background-image 0.5s, color 0.5s;
}
.dashboardContainer {
  transition: background-image 0.5s, color 0.5s;
}
.bg-transition {
  transition: background-image 0.5s, color 0.5s;
}
